[submodule "pythonCommunicator"]
	path = pythonCommunicator
	url = https://github.com/lsst-ts/pythonCommunicator.git
[submodule "pythonFileReader"]
	path = pythonFileReader
	url = https://github.com/lsst-ts/pythonFileReader.git
[submodule "salobj"]
	path = salobj
	url = https://github.com/lsst-ts/salobj.git
